@use "./fonts";
@use "./colors" as *;
@use "./liquid-glass" as *;

$gradient-color: linear-gradient(to right, #fcd4c4, #f962a0, #aa96f9);

:root {
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
  --lg-hover-glow: rgba(255, 255, 255, 0.4);
  --lg-red: #fb4268;
  --lg-grey: #5b5b5b;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  color: #0f010e;
  background: #f0efed;
  background: #0f0523;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0 !important;
}

a,
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

.nav-menu {
  position: fixed;
  top: 40px;
  z-index: 10;
  margin-bottom: 24px;

  .nav-item {
    width: 42px;
    height: 42px;

    &.glass-container {
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    }

    .glass-filter {
      backdrop-filter: blur(0px);
    }

    .glass-overlay {
      background: rgba(255, 255, 255, 0.5);
    }

    .glass-specular {
      box-shadow: inset 0.5px 1px 0 var(--lg-highlight),
        inset 0 0 1px var(--lg-highlight);
    }

    .glass-content {
      gap: 0;
    }

    .nav-text {
      display: none;
      transform: scale(0);
      transition: 0.25s;
      transition-delay: 0s;
    }
  }

  .active .nav-item {
    .glass-overlay {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

.dp-img {
  width: 20px;
  height: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin-top: 144px;

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 72px;
    border: 2px solid rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(4px);
  }

  .big-text-container {
    position: relative;
    z-index: 2;
    background-image: url("../assets/img/hero-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 72px;
    color: white;

    .big-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 48px;
      font-weight: 500;
      padding: 2rem 6rem;

      .name {
        font-size: 54px;
        font-weight: 600;
      }
    }
  }
}
